.DayCalendar {
    position: relative;
    margin: 10px auto;
    width:500px;
    height: 700px;
    background-color: #f7f6f5;
    float: left;
}

.DaySection {
    height: 69px;
    border-bottom: 1px solid #b7b3b3;
    border-right: 1px solid #b7b3b3;
}